<!DOCTYPE html>
<html lang="ko" 
      xmlns:th="http://www.thymeleaf.org"> 
<!-- 타임리프는 백엔드 서버에서 HTML을 동적으로 렌더링하는 용도로 사용된다. -->

<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link rel="stylesheet" href="">

<script th:inline="javascript">
 /*<![CDATA[*/
   const message = /*[[${message}]]*/ '';
   const loc = /*[[${loc}]]*/ '';
   alert(message);
   location.href = loc;

   const popup_close = /*[[${popup_close}]]*/ null;
   if (popup_close) {
       opener.history.go(0);
       globalThis.close();
   }
 /*]]>*/
</script>

<body>

</body>
</html> 
